@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	font-family: 'Times New Roman', Times, serif;
}

body::-webkit-scrollbar {
    display: none;
}


@layer base {
	h1 {
		@apply text-left tracking-widest;
	  }

	h3 {
	  @apply text-left tracking-widest;
	}
  
	ul {
	  @apply list-disc pl-4 text-left;
	}
  
	p {
	  @apply text-left;
	}
  
	h2 {
	  @apply text-left tracking-widest;
	}
  
	a {
	  @apply text-sm text-slate-200 tracking-widest hover:text-gray-500 transition-colors focus:text-gray-500 active:text-indigo-500;
	}

	.project-techs {
		@apply flex flex-wrap -translate-x-2;
	  }
	
	  .tech {
		@apply h-auto rounded-md p-2 text-teal-500 text-sm font-normal;
	  }
	  
	  .icon-holder {
		@apply flex flex-col w-auto items-center justify-center
	  }
	
	  .techIcon {
		@apply bg-gray-700/30
		h-[140px] w-[140px] rounded-lg
	  }

	  .cognitiveLink {
	  @apply !border border-teal-500
	}

	.cognitiveHeader {
		@apply !border border-sky-400
	  }
  }

*, *::before, *::after {
	box-sizing: border-box;
  }

  * {
	margin: 0;
  }

  body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }

  input, button, textarea, select {
	font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }

  #root, #__next {
	isolation: isolate;
  }

  .animWelcome {
	animation: animate 1.5s alternate forwards;
	animation-delay: .3s;
  }

  @keyframes animate {
	0%{
		opacity: 50;
	}
	
	100% {
		opacity: 0; 
		z-index: 
		-500000; 
	}
  }

  .animTitle {
	transition-duration: 500ms;
	position: relative;
	overflow: hidden;
	width: auto;
  }

  .animTitle::before {
	content: "";
	background-image: conic-gradient(#868cc2 20deg, transparent 120deg);
	width: 500px;
	height: 100%;
	position: absolute;
	animation: rotate 1.5s linear forwards;
  }

  @keyframes rotate {
	0% {
		transform: translateX(-500px);
	}

	100% {
		transform: translateX(300px);
	}
  }

  .projectAnim {
	animation: display .7s linear
  }

  @keyframes display {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 100;
		transform: translateY(0%);
	}
  }






